body
{
	background-color:#F5FFFA;
font-size:16px;
	font-family:arial;

	margin:0 auto;
	width:75%;
	
	
            background-image: url("css/background.jpg");
			
        

	
}
#headers
{
	background-color:lightblue;
	padding-bottom:30px;
	text-align:center;
	height:50px;
	
}
.mainmenu
{
	list-style:none;
}
#headsearch
{
	text-align:right;
}
ul li
{
	float:left;
}

#sides
{
	background-color:lightblue;
	text-align:center;
	float:left;
	height:350px;
	width:20%;
	
}
#menu{
width:100%;
display:block;
position:relative;
height:60px;
color:#fff;
text-decoration:none;
border-style:inset;
}
#menu a{
  text-decoration:none;
  color:#fff;
}
#menu ul {
padding:1; margin:1; list-style:none;font-size: 1.3em;
    font-weight: 600;

}
#menu li {
float:left; position:relative; padding-right:100; display:block;
border:none;

}
#menu li ul {
    display:none;
position:absolute;
}
#menu li:hover ul{
    display:block;
    background:red;
    height:auto; width:8em;
}
#menu li ul li{
    clear:both;
border-style:none;}

#sidebars
{
	background-color:lightblue;
	text-align:center;
	float:right;
	height:350px;
	width:20%;
	
}
#contents
{
	
	text-align:center;
	float:left;
	height:350px;
	width:30%;
	
	
	
}
#footers
{
	background-color:lightblue;
	text-align:center;
	float:left;
	colspan="3"
	height:20px;
	clear:both;
	width:100%
	
	
}
ul
{
	list-style-type:none;
}
table.center {
    margin-left:auto; 
    margin-right:auto;
  }
  table { margin: auto; }